@media(max-width:1070px) {

    header {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
    }

    /* work img */

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
            width: 15rem;
            height: 7rem;
        }
    }

    /* contacts */

    .contacts {
        width: 90vw;
    }

}

@media(max-width:850px) {



    /* design */
    .design-parent {
        flex-direction: column;
    }

    .design-child {
        flex-direction: column;
    }


}

@media(max-width:770px) {

    /* header */
    header {
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }

    /* nav-name */
    .navName {
        margin: auto;
    }

    /* lets-talk */
    .navTalk {
        margin: auto;
        margin-block: 1rem;

        a {
            text-decoration: none;
        }
    }



    .dark-talk {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* menuItem */
    .menuItem {
        margin-inline: auto;
    }

    .menuItem ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            margin: 1rem;
        }
    }

    /* social-media icons */

    .about {
        margin: 0.5rem;
        flex-direction: column;
        justify-content: center;
    }

    .about-left h1 {
        font-size: 1.5rem;
    }

    .about-para2 {
        font-size: 0.8rem;
        max-width: 25rem;
        text-align: justify;
    }

    .child-about-right {
        img {
            width: 17rem;
        }
    }

    .child-about-right img:nth-child(2) {
        width: 14rem;
    }

    /* box */

    .box {
        padding: 0.3rem;

        p {
            max-width: 4rem;
            font-size: 0.6rem;
        }
    }

    .about-right-box-one {
        left: -8%;
    }

    .about-right-box-two {
        left: -8%;
    }

    .about-right-box-three {
        right: 2%;
    }

    /* project */

    .project {
        flex-direction: column-reverse;
        margin-left: 0.5rem;
    }

    /* left-side-project */
    .project-left {
        margin-top: 3rem;
    }

    /* child-project */

    .child-project img {
        left: 3%;
        transform: translate(-0%, -7%);

    }

    /* project-box */
    .project-box {
        position: absolute;
        padding: 0.5rem 0.8rem;

        p {
            font-size: 0.5rem;
        }
    }

    .project-box:nth-child(1) {
        left: -18%;
    }

    .project-box:nth-child(2) {
        bottom: 10%;

        left: -18%;
    }

    .project-box:nth-child(3) {
        right: -19%;
    }

    /* right-side-project */
    .project-right p {
        max-width: 18rem;
    }

    /* my work */
    .details .title {
        font-size: 12.5px;
    }

    /* contacts */
    .contacts {
        flex-direction: column;
        width: 90vw;
    }

    /* footer */

    .footer {
        margin-top: 2rem;
    }

    .footer-menuItem ul {
        display: flex;
        font-size: 0.9rem;
        list-style: none;
        flex-wrap: wrap;
        margin: 1rem;
    }

    .footer-menuItem ul li {
        margin-right: 1rem;
    }
}


@media(max-width:520px) {
    /* work img */


    .gallery {
        display: flex;
        flex-direction: column;
    }

    /* image-sliders */
    .iq-features {
        display: none;
    }

    .image-text-sliders {
        display: block;
    }
}

@media (max-width:450px) {
    .menuItem ul {
        display: none;
        flex-direction: column;
        justify-content: start;

        li {
            margin: 1rem;
        }
    }

    /* hamburger */
    .main-hamburger {
        .three-line {
            display: flex;
            opacity: 1;
        }

    }

    .input-mobile-hamburger:checked~.down-bar-hamburger {
        display: flex;
        flex-direction: column;
        background-color: #101d2f;
        position: relative;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.378);
        border-radius: 1rem;
        margin-top: 1rem;

        li {
            list-style: none;
        }
    }

    .hamburger-mobile {
        padding: 1rem;
        font-weight: 600;
        text-align: center;
        cursor: pointer;

        a {
            color: var(--link-color);
            text-decoration: none;
        }
    }

    /* work-link */
    .items {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}